.header-section{
  display: flex;
  justify-content: center;
  .navbar-nav{
    align-items: center;
  }
  .navbar{
    position: absolute;
    width: 100%;
    padding: 8px 35px;
  }
  .fixed-nav{
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $whiteColor !important;
    transition: all .4s !important;
  }
  .logo{
    display: none;
  }
  .logo-fixed{
    display: inline-block !important;
  }
  .black-text{
    color: $blackColor;
  }
}

@media (max-width: 992px) {
  .navbar{
    padding: 5px !important;
  }
 .navbar-toggler{
   order: -1 !important;
 }
  .navbar-collapse{
    z-index: 9999 !important;
    height: 100vh;
    background: $whiteColor !important;
    .nav-item{
      .nav-link{
        font-size: 2rem;
      }
    }
    .comments{
      margin-bottom: 10px;
    }
    .login{
      display: none !important;
    }
  }
  .login-item{
    display: block !important;
  }
}