.middle-text{
  font-size: $middleSize;
}
.white-text{
  color: $whiteColor !important;
}
.light-black-text{
  color: $lightBlackColor;
}
.blue-text{
  color: $blueColor;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.form-wrapper{
  display: flex;
  justify-content: center;
}
.ml-20{
  padding: 0 10px;
}
.comments{
  background-color: $blueColor;
  color: $whiteColor !important;
}
.company{
  background-color: $darkBlueColor;
  color: $whiteColor !important;
}
.login{
  font-size: 2.8rem;
  font-weight: 400 !important;
  transition: all .3s;
  &:hover{
    opacity: .7;
  }
}
.header-link{
  display: inline-block;
  border-radius: 3px;
  transition: all .3s;
  &:hover{
    background-color: $yellowColor;
    text-decoration: none;
    color: $blackColor !important;
  }
}
.p-8-14{
  padding: 8px 14px !important;
}
.p-2-4{
  padding: 2px 4px !important;
}
.section-title{
font-size: 3.2rem !important;
  color: $lightBlackColor;
}
.section-subtitle{
font-size: 1.8rem !important;
  color: $lightGrayColor;
  display: flex;
  justify-content: space-between;
}
.view{
  text-decoration: none;
  font-size: 1.4rem;
  transition: all .1s ease-in-out ;
  &:hover{
    text-decoration: none;
    color: $lightBlackColor;
  }
  i{
    font-size: 1.4rem;
    margin-left: 3px;
  }
}
.pt-60{
  padding-top: 60px;
}
.pb-70{
  padding-bottom: 70px;
}
.pb-40{
  padding-bottom: 40px;
}
.pb-30{
  padding-bottom: 30px;
}
.pt-30{
  padding-top: 30px;
}
.mb-40{
  margin-bottom: 40px !important;
}
.mb-30{
  margin-bottom: 30px !important;
}
.mb-20{
     margin-bottom: 20px !important;
}
.mb-10{
  margin-bottom: 10px !important;
}

.mt-20{
  margin-top: 20px !important;
}
.empty{
  background-color: $darkGrayColor;
}
.gray-text{
  color: $grayColor;
}
