        <footer>
            <div class="footer-section pt-60 pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="footer-links">
                                <h2 class="footer-title mb-10">Quick Links</h2>
                                <ul class="links list-unstyled">
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Faq</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">My account</a></li>
                                    <li><a href="#">Create account</a></li>
                                    <li><a href="#">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="footer-links">
                                <h2 class="footer-title mb-10">Categories</h2>
                                <ul class="links list-unstyled">
                                    <li><a href="#">Shops</a></li>
                                    <li><a href="#">Hotels</a></li>
                                    <li><a href="#">Restaurants</a></li>
                                    <li><a href="#">Bars</a></li>
                                    <li><a href="#">Events</a></li>
                                    <li><a href="#">View all</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="footer-links">
                                <h2 class="footer-title mb-10">Contacts</h2>
                                <ul class="footer-contact list-unstyled">
                                    <li><i class="fa fa-home"></i>97845 Baker st. 567 Los Angeles - US</li>
                                    <li><i class="fa fa-headphones"></i>+61 23 8093 3400</li>
                                    <li><i class="fa fa-envelope"></i>info@domain.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="footer-links">
                                <h2 class="footer-title mb-10">Keep in touch</h2>
                                <div class="footer-subscribe list-unstyled">
                                    <form action="#">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                                            <div class="input-group-append">
                                                <button class="btn comments header-link" type="button" id="button-addon2">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
        <script src="js/all.min.js"></script>

      <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
      <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
      </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
