$aznb:jaznb;
$whiteColor:#fff;
$blackColor:#000;
$lightBlackColor:#222;
$lightGrayColor:#555;
$darkGrayColor:#ccc;
$grayColor:#D6D6D6;
$yellowColor:#FFC107;
$blueColor: #3578fa;
$darkBlueColor: #051d4d;
$lightBlueColor: #EEF3F7;
$greenColor:#32a067;
$gray:#999;
/*font-size*/
$middleSize:2rem;

